#References:
# [1]: Scriptbytes (2024) Blazor 8 Docker | Build a Blog - Ep 04.5 [Source Code]. Available at: https://www.youtube.com/watch?v=lDXdk9dS1lM [Accessed 26/12/2025].

#<-*****Scriptbytes (2024) [1] - START
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
#<-*****Scriptbytes (2024) [1] - END

#.nuget/packages/